.address {
    font-style: normal;

    &__block {
        margin-bottom: 22px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 6px;

        margin-bottom: 10px;

        font-size: 1.6rem;
        color: rgba($colors-text, 0.8);

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__caption {
        margin-bottom: 11px;

        font-size: 1.8rem;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 130%;
    }
}
