.form {
    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: 24px;

        font-size: 2rem;
        font-weight: 500;
        line-height: 130%;
        text-align: center;
        text-transform: uppercase;

        @media (max-width: $sm) {
            font-size: 1.8rem;
        }
    }
    &__group {
        margin-bottom: 24px;

        &--confirm {
            margin-bottom: 28px;

            padding-top: 16px;

            border-top: 1px solid $colors-text;

            @media (max-width: $sm) {
                margin-bottom: 24px;
            }
        }
    }

    &__input {
        width: 100%;
        padding: 14px 16px;

        font-family: $family;
        font-size: 1.6rem;
        text-transform: uppercase;
        color: $colors-text;

        border: 1.5px solid rgba($colors-text, 0.4);
        background: none;

        &:focus {
            outline: 1px solid $colors-accent;
        }

        &::placeholder {
            font-family: $family;
            font-size: 1.6rem;
            text-transform: uppercase;
            color: $colors-text-light;
        }
    }

    &__label {
        position: relative;

        display: flex;
        align-items: flex-start;
        gap: 12px;
        font-size: 1.6rem;
        color: $colors-text;
    }

    &__checkbox {
        position: absolute;
        font-size: 0;
        opacity: 0;
        visibility: hidden;
    }

    &__checkbox:checked ~ .form__check-field {
        background-image: url('../img/icons/check.svg');
    }

    &__check-field {
        flex-shrink: 0;

        display: block;
        width: 12px;
        height: 12px;

        margin: 3px 0;

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px solid $colors-text;

        transition: 0.3s linear;

        @media (max-width: $sm) {
            width: 16px;
            height: 16px;
        }
    }

    &__btn {
        width: fit-content;
        margin: 0 auto;
        padding: 18px 24px;

        line-height: 1.2rem;

        @media (max-width: $md) {
            width: 100%;
        }
    }
}
