.nav {
    &__list li a {
        transition: color 0.3s linear;

        &:hover {
            color: $colors-accent;
        }
    }

    &--header {
        @media (max-width: $md) {
            display: none;
        }

        .nav__list {
            display: flex;
            align-items: center;
            gap: 4px;

            li a {
                padding: 10px 16px;

                font-size: 1.6rem;
                font-weight: 500;
            }
        }
    }

    &--footer {
        .nav__list {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 28px;

            @media (max-width: 768px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 12px 22px;
            }
        }
    }
}
