.section {
    margin-bottom: 80px;

    @media (max-width: $sm) {
        margin-bottom: 64px;
    }

    &__inner {
    }
    &__title {
        margin-bottom: 14px;

        font-size: 3.6rem;
        font-weight: 500;
        text-transform: uppercase;

        @media (max-width: $sm) {
            margin-bottom: 12px;

            font-size: 2.4rem;
        }
    }

    &__subtitle {
        margin-bottom: 36px;

        font-size: 1.6rem;
        color: $colors-text-light;
    }

    &--showcase {
        margin-bottom: 80px;

        @media (max-width: $md) {
            margin-bottom: 44px;
        }

        .section__inner {
            @media (max-width: $sm) {
                margin: 0 -16px;
            }
        }
        .section__title {
            font-size: 2rem;
            font-weight: 500;
            text-transform: uppercase;

            @media (max-width: $md) {
                left: 16px;
                top: 20px;
            }
            @media (max-width: $sm) {
                font-size: 1.4rem;
            }
        }
    }

    &--services {
        .section__content {
            display: grid;
            grid-template-columns: 1fr 34%;
            gap: 80px;

            @media (max-width: $md) {
                grid-template-columns: 1fr;
                gap: 32px;
            }
        }
    }

    &--advantages {
        .section__subtitle {
            margin-bottom: 56px;

            @media (max-width: $sm) {
                margin-bottom: 32px;
            }
        }

        .section__content {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 390px));
            justify-content: center;
            gap: 48px 51px;

            @media (max-width: $sm) {
                grid-template-columns: 1fr;
                gap: 32px;
            }
        }
    }

    &--faq {
        .section__title {
            margin-bottom: 23px;

            @media (max-width: $sm) {
                margin-bottom: 20px;
            }
        }

        .section__content {
            display: grid;
            grid-template-columns: 1fr 41%;
            gap: 80px;

            @media (max-width: $md) {
                grid-template-columns: 1fr;
            }
        }

        .section__image {
            display: block;
            max-width: 100%;
            height: auto;

            @media (max-width: $md) {
                display: none;
            }
        }
    }

    &--testimonials {
        .section__title {
            margin-bottom: 38px;

            @media (max-width: $sm) {
                margin-bottom: 24px;
            }
        }
    }

    &--projects {
        .section__subtitle {
            margin-bottom: 40px;

            @media (max-width: $sm) {
                margin-bottom: 28px;
            }
        }

        .section__content {
            width: 100%;
            display: grid;
            // grid-template-columns: repeat(auto-fit, minmax(299px, 1fr));
            grid-template-columns: repeat(4, 1fr);
            gap: 40px 28px;

            @media (max-width: $lg) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media (max-width: $md) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    &--form {
        .section__inner {
            display: grid;
            grid-template-columns: 34% 1fr;
            gap: 80px;

            @media (max-width: $md) {
                grid-template-columns: 1fr;
            }
        }

        .section__image {
            display: block;
            max-width: 100%;
            height: auto;

            @media (max-width: $md) {
                display: none;
            }
        }
    }

    &--licenses {
        .section__subtitle {
            margin-bottom: 32px;

            @media (max-width: $sm) {
                margin-bottom: 16px;
            }
        }

        .section__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;

            @media (max-width: $lg) {
                grid-template-columns: 1fr;
                gap: 16px;
            }
        }
    }

    &--about-page {
        .section__inner {
            display: grid;
            grid-template-columns: 56% 1fr;
            gap: 60px 64px;

            @media (max-width: $md) {
                grid-template-columns: 1fr;
            }
        }

        .section__map-wrapper {
            grid-column: 1;
            grid-row: 2;

            @media (max-width: $md) {
                grid-column: auto;
                grid-row: auto;

                margin: 0 -16px;
            }
        }
    }

    &--about {
        margin-bottom: 0;

        @media (max-width: $sm) {
            margin-bottom: 0;
        }

        .section__title {
            margin-bottom: 14px;

            @media (max-width: $sm) {
                margin-bottom: 12px;
            }
        }

        .section__text {
            margin-bottom: 16px;
            color: rgba($colors-text, 0.8);
        }
    }

    &--contact-us {
        margin-bottom: 0;

        @media (max-width: $sm) {
            margin-bottom: 0;
        }

        .section__title {
            margin-bottom: 14px;

            @media (max-width: $sm) {
                margin-bottom: 12px;
            }
        }
    }
}
