.swiper {
    &--showcase {
        .swiper-slide {
            position: relative;

            // height: 548px;

            aspect-ratio: 2.33;

            padding: 24px;

            @media (max-width: $sm) {
                padding: 20px 16px;

                aspect-ratio: 1.74;
            }
        }
        .swiper-image {
            position: absolute;
            inset: 0;
            z-index: -1;

            max-width: 100%;
            height: auto;
            width: 100%;

            object-fit: cover;
        }
        .swiper-controls {
            position: absolute;
            bottom: 24px;
            right: 24px;
            z-index: 1;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;

            padding: 2px;

            border-radius: 100px;
            background: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 0.05) 0%,
                    rgba(255, 255, 255, 0) 100%
                ),
                rgba(37, 37, 37, 0.25);
            backdrop-filter: blur(20px);

            @media (max-width: $sm) {
                right: 16px;
                bottom: 8px;
            }
        }

        .swiper-button-prev--showcase,
        .swiper-button-next--showcase {
            width: 32px;
            height: 32px;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 50%;
            background: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 0.05) 0%,
                    rgba(255, 255, 255, 0) 100%
                ),
                rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(20px);

            cursor: pointer;
        }

        .swiper-spinner {
            width: 32px;
            height: 32px;

            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                transform: rotate(-90deg);
            }

            .swiper-spinner__progress {
                --progress: 0;
                stroke-dasharray: 94.2;
                stroke-dashoffset: calc(94.2 * (1 - var(--progress)));
            }
        }
    }

    &--testimonials {
        padding-top: 40px;

        @media (max-width: $md) {
            padding: 40px 15px 15px;
        }

        .swiper-controls {
            position: relative;
            z-index: 1;

            margin: 10px auto 0;

            width: 80px;
            height: 32px;

            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .swiper-button-prev--testimonials,
        .swiper-button-next--testimonials {
            width: 32px;
            height: 32px;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 50%;
            background: #fff;
            box-shadow: 0 0 6px 3px #ececec;

            cursor: pointer;
        }

        .swiper-slide {
            transition: transform 0.3s linear;
        }

        .swiper-slide-active {
            transform: translateY(-20px);
        }
    }
}
