<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="index.html" class="logo header__logo">
                <img src="img/logo/logo.png" alt="логотип" />
            </a>

            <nav class="nav nav--header">
                <ul class="nav__list">
                    <li>
                        <a href="#"> Услуги </a>
                    </li>
                    <li>
                        <a href="#"> Проекты </a>
                    </li>
                    <li>
                        <a href="#"> Лицензии </a>
                    </li>
                    <li>
                        <a href="#">О компании</a>
                    </li>
                </ul>
            </nav>

            <button type="button" class="btn header__btn">
                Связаться с нами
            </button>

            <button class="burger">
                <svg
                    width="36"
                    height="36"
                    viewBox="0 0 36 36"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M30 10.5L6 10.5"
                        stroke="#0B0C0C"
                        stroke-width="2"
                        stroke-linecap="round"
                    />
                    <path
                        d="M30 18L6 18"
                        stroke="#0B0C0C"
                        stroke-width="2"
                        stroke-linecap="round"
                    />
                    <path
                        d="M30 25.5L6 25.5"
                        stroke="#0B0C0C"
                        stroke-width="2"
                        stroke-linecap="round"
                    />
                </svg>
            </button>
        </div>
    </div>
</header>
