/* dw modelica regular - cyr-lat */
@font-face {
    font-display: swap;
    font-family: 'Bw Modelica';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/BwModelicaCyrillicDEMO-Regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dw modelica medium - cyr-lat */
@font-face {
    font-display: swap;
    font-family: 'Bw Modelica';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/BwModelicaCyrillicDEMO-Medium.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
