// colors
$colors-text: #0b0c0c;
$colors-accent: #007aff;
$colors-text-light: rgba($colors-text, 0.6);

// typography
$family: 'Bw Modelica', sans-serif;

// media
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
